@using Warhammer.Core.Entities
@model Warhammer.Core.Entities.Session
    
@if (ViewBag.EditMode)
{
    @Html.Action("EditSessionArc", "Page", new { id = Model.Id })
}
else
{
    if (Model.Arc != null)
    {
        <div class="panel panel-info session-arc-panel">
            <div class="panel-heading"><a href="@Url.Action("Index", "Page", new {id = Model.ArcId.GetValueOrDefault()})">@(Model.Arc.FullName)</a></div>
            <div class="panel-body">                
                <ul class="arc-sessions">
                    @foreach (Session arcSession in Model.Arc.Sessions.OrderBy(s => s.DateTime))
                    {
                        <li>
                            @if (arcSession.Id == Model.Id)
                            {
                                <span class="current-session">@arcSession.ShortName</span>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Page", new {id = arcSession.Id})">@(arcSession.ShortName)</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}
