@using Warhammer.Core.Entities
@using Warhammer.Core.Models
@model Warhammer.Core.Models.SessionArcSummaryModel
    
@if (ViewBag.EditMode)
{
    @Html.Action("EditSessionArc", "Page", new { id = Model.SessionId })
}
else
{
    if (Model.SessionHasArc)
    {
        <div class="panel panel-info session-arc-panel">
            <div class="panel-heading">
                <a href="@Url.Action("Index", "Page", new {id = Model.ArcId})">@(Model.Name)
                    </a>
            </div>
            <div class="panel-body">                
                <ul class="arc-sessions">
                    @foreach (PageListItemModel arcSession in Model.Sessions)
                    {
                        <li>
                            @if (arcSession.Id == Model.SessionId)
                            {
                                <span class="current-session">@arcSession.ShortName</span>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Page", new {id = arcSession.Id})">@(arcSession.ShortName)</a>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}
