@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.RelatedLinksModel

@if (Model.Sessions.Any() && !(Model.Owner is Arc))
{
    <h3>Sessions</h3>
    <ul>
            @Html.DisplayFor(m => Model.Sessions)
    </ul>
    <div class="clearfix"></div>
}
@if (Model.People.Any())
{
    <h3>People</h3>
    <ul>
        @Html.DisplayFor(m => Model.People)
    </ul>
    <div class="clearfix"></div>
}
@if (Model.Places.Any())
{
    <h3>Places</h3>
    <ul>
        @Html.DisplayFor(m => Model.Places)
    </ul>
    <div class="clearfix"></div>
}
@if (Model.Others.Any() || (Model.Sessions.Any() && Model.Owner is Arc))
{
    <h3>Related Pages</h3>
    <ul>
        @Html.DisplayFor(m => Model.Others)
        @if (Model.Owner is Arc)
        {
            @Html.DisplayFor(m => m.Sessions)
        }
    </ul>
    <div class="clearfix"></div>
}
@if (Model.SessionLogs.Any())
{
    <h3>Other People's Logs</h3>
    <ul>
        @Html.DisplayFor(m => Model.SessionLogs)
    </ul>
    <div class="clearfix"></div>
}
@if (!Model.Sessions.Any() && !Model.SessionLogs.Any() && !Model.People.Any() && !Model.Places.Any() && !Model.Others.Any())
{
    <h3>Isolated</h3>
    <p>This page does not have any related links.</p>
}