@using Warhammer.Core
@model Warhammer.Core.Models.CharacterAttributeModel

@if (Model.ShowWear)
{

    <h4>Wear</h4>
    <table class="table">
        @Html.EditorFor(m => m.Wear)
    </table>

    if (Model.CanAddNew(AttributeType.Wear))
    {
        using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
        {
            <input type="hidden" value="@Model.PersonId" name="personId" />
            <input type="hidden" value="@AttributeType.Wear" name="attributeType" />
            <input type="submit" value="Add New Wear slot for @Model.NewCost(AttributeType.Wear) XP" class="btn btn-block btn-success" />
        }
    }
    else
    {
        <input type="button" disabled="disabled" value="New Wear Slot: @(Model.NewCost(AttributeType.Harm)) XP" class="btn btn-block btn-default" />
    }
}
<h4>Harm</h4>
<table class="table">
    @Html.EditorFor(m => m.Harm)
</table>

@if (Model.CanAddNew(AttributeType.Harm))
{
    using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
    {
        <input type="hidden" value="@Model.PersonId" name="personId" />
        <input type="hidden" value="@AttributeType.Harm" name="attributeType" />
        <input type="submit" value="Add New Harm slot for @Model.NewCost(AttributeType.Harm) XP" class="btn btn-block btn-success" />
    }
}
else
{
    <input type="button" disabled="disabled" value="New Harm Slot: @(Model.NewCost(AttributeType.Harm)) XP" class="btn btn-block btn-default" />
}