@using Warhammer.Core
@using Warhammer.Core.Models
@model Warhammer.Core.Models.CharacterAttributeModel

@if (Model.CharacterInfo.CanEdit || Model.PersonAttributes.Any(a => !a.PersonAttribute.IsPrivate))
{
    <div id="characterattributes" class="content-block">
        @if (Model.CharacterInfo.CanEdit)
        {
            if (Model.ShowWearTrack)
            {
                @Html.Partial("_WearTrack", Model)
            }
            @Html.Partial("_AttributeEdit", Model)
            <div class="alert alert-info">
                <table class="table attribute-table">
                    <tr>
                        <td>Current XP</td>
                        <td><span class="personAttribute label label-success">@Model.CurrentXp</span></td>
                    </tr>
                    <tr>
                        <td>XP Spent</td>
                        <td><span class="personAttribute label label-danger">@(Model.XpSpent).00</span></td>
                    </tr>
                    @if (Model.CharacterInfo.HasAttributeMoveAvailable)
                    {
                        <tr>
                            <td>Shift Available</td>
                            <td><span class="personAttribute label label-info">&#10004;</span></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Shift Available</td>
                            <td><span class="personAttribute label label-default">&#10008;</span></td>
                        </tr>

                    }
                    @if (ViewBag.EditMode && Model.CanAddXp)
                    {
                        <tr>
                            <td>Add XP</td>
                            <td>
                                @using (Ajax.BeginForm("AddXp", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                                {
                                    <input type="hidden" value="@Model.PersonId" name="personId" />
                                    <input type="number" step="any" class="form-control" name="amount" />
                                    <input type="submit" value="+ Add" class="btn btn-block btn-success" />
                                }
                            </td>
                        </tr>

                    }
                </table>
            </div>
        }

        @if (ViewBag.EditMode && Model.CharacterInfo.CanEdit)
        {
            <div class="alert alert-info">
                <h4>Stats</h4>
                <table class="table">
                    @Html.EditorFor(m => m.Stats)
                </table>
            </div>
            if (Model.IncludeMagic)
            {
                <div class="alert alert-info">
                    <h4>Magic</h4>
                    <table class="table attribute-table">
                        @Html.EditorFor(m => m.Magic)
                        @Html.EditorFor(m => m.MagicItems)
                    </table>

                    @if (Model.CanAddNew(AttributeType.Magic))
                    {
                        using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                        {
                            <input type="hidden" value="@Model.PersonId" name="personId" />
                            <input type="hidden" value="@AttributeType.Magic" name="attributeType" />
                            <input type="text" value="" placeholder="Magic Name" name="name" class="form-control" />
                            <textarea value="" placeholder="Magical Description" name="description" class="form-control"></textarea>
                            <input type="submit" value="Add Magic for @Model.NewCost(AttributeType.Magic) XP" class="btn btn-block btn-success" />
                        }
                    }
                    else
                    {
                        <input type="button" disabled="disabled" value="New Magic: @(Model.NewCost(AttributeType.Magic)) XP" class="btn btn-block btn-default" />
                    }

                    @if (Model.CanAddNew(AttributeType.MagicItem))
                    {
                        using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                        {
                            <input type="hidden" value="@Model.PersonId" name="personId" />
                            <input type="hidden" value="@AttributeType.MagicItem" name="attributeType" />
                            <input type="text" value="" placeholder="Item Name" name="name" class="form-control" />
                            <textarea value="" placeholder="Description" name="description" class="form-control"></textarea>
                            <input type="submit" value="Add Magic Item for @Model.NewCost(AttributeType.MagicItem) XP" class="btn btn-block btn-success" />
                        }
                    }
                    else
                    {
                        <input type="button" disabled="disabled" value="New Magic Item: @(Model.NewCost(AttributeType.MagicItem)) XP" class="btn btn-block btn-default" />
                    }

                </div>
            }

            if (Model.IncludeDisciplines)
            {
                <div class="alert alert-danger">
                    <h4>Disciplines</h4>
                    <table class="table attribute-table">
                        @Html.EditorFor(m => m.Disciplines)
                    </table>


                    @if (Model.CanAddNew(AttributeType.Discipline))
                    {
                        using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                        {
                            <input type="hidden" value="@Model.PersonId" name="personId" />
                            <input type="hidden" value="@AttributeType.Discipline" name="attributeType" />
                            <input type="text" value="" placeholder="Discipline Name" name="name" class="form-control" />
                            <textarea value="" placeholder="Description" name="description" class="form-control"></textarea>
                            <input type="submit" value="Add Discipline for @Model.NewCost(AttributeType.Discipline) XP" class="btn btn-block btn-success" />
                        }
                    }
                    else
                    {
                        <input type="button" disabled="disabled" value="New Discipline: @(Model.NewCost(AttributeType.Discipline)) XP" class="btn btn-block btn-default" />
                    }
                </div>
            }


            <div class="alert alert-success">
                <h4>Roles</h4>
                <table class="table attribute-table">
                    @Html.EditorFor(m => m.Roles)
                </table>


                @if (Model.CanAddNew(AttributeType.Role))
                {
                    using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                    {
                        <input type="hidden" value="@Model.PersonId" name="personId" />
                        <input type="hidden" value="@AttributeType.Role" name="attributeType" />
                        <input type="text" value="" placeholder="Role Name" name="name" class="form-control" />
                        <textarea value="" placeholder="Description" name="description" class="form-control"></textarea>
                        <input type="submit" value="Add Role for @Model.NewCost(AttributeType.Role) XP" class="btn btn-block btn-success" />
                    }
                }
                else
                {
                    <input type="button" disabled="disabled" value="New Role: @(Model.NewCost(AttributeType.Role)) XP" class="btn btn-block btn-default" />
                }
            </div>

            <div class="alert alert-success">
                <h4>Skills</h4>
                <table class="table attribute-table">
                    @Html.EditorFor(m => m.Skills)
                </table>

                @if (Model.CanAddNew(AttributeType.Skill))
                {
                    using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                    {
                        <input type="hidden" value="@Model.PersonId" name="personId" />
                        <input type="hidden" value="@AttributeType.Skill" name="attributeType" />
                        <input type="text" value="" placeholder="Skill Name" name="name" class="form-control" />
                        <textarea value="" placeholder="Description" name="description" class="form-control"></textarea>
                        <input type="submit" value="Add Skill for @Model.NewCost(AttributeType.Skill) XP" class="btn btn-block btn-success" />
                    }
                }
                else
                {
                    <input type="button" disabled="disabled" value="New Skill: @(Model.NewCost(AttributeType.Skill)) XP" class="btn btn-block btn-default" />
                }
            </div>

            <div class="alert alert-warning">
                <h4>Descriptors</h4>
                <table class="table">
                    @Html.EditorFor(m => m.Descriptors)
                </table>

                @if (Model.CanAddNew(AttributeType.Descriptor))
                {
                    using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                    {
                        <input type="hidden" value="@Model.PersonId" name="personId" />
                        <input type="hidden" value="@AttributeType.Descriptor" name="attributeType" />
                        <input type="text" value="" placeholder="Descriptor Name" name="name" class="form-control" />
                        <textarea value="" placeholder="Description" name="description" class="form-control"></textarea>
                        <input type="submit" value="Add Descriptor for @Model.NewCost(AttributeType.Descriptor) XP" class="btn btn-block btn-success" />
                    }
                }
                else
                {
                    <input type="button" disabled="disabled" value="New Descriptor: @(Model.NewCost(AttributeType.Descriptor)) XP" class="btn btn-block btn-default" />
                }
            </div>

            if (Model.ShowResolveAndResilience)
            {
                <div class="alert alert-info">
                    <h4>Resolve</h4>
                    <p>Increasing Resolve gives a character more staying power</p>
                    <table class="table">
                        @Html.EditorFor(m => m.Resolve)
                    </table>
                    <h4>Resilience</h4>
                    <p>Increasing Resilience means a character can absorb bigger hits without damage, as long as they have enough Resolve to spend.</p>
                    <table class="table">
                        @Html.EditorFor(m => m.Resilience)
                    </table>
                </div>
            }


            <div class="alert alert-danger">

                <h4>Edge</h4>
                <table class="table">
                    @Html.EditorFor(m => m.Edge)
                </table>

                @if (Model.CanAddNew(AttributeType.Edge))
                {
                    using (Ajax.BeginForm("BuyNewAttribute", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "characterattributes" }))
                    {
                        <input type="hidden" value="@Model.PersonId" name="personId" />
                        <input type="hidden" value="@AttributeType.Edge" name="attributeType" />
                        <input type="submit" value="Add New Edge slot for @Model.NewCost(AttributeType.Edge) XP" class="btn btn-block btn-success" />
                    }
                }
                else
                {
                    <input type="button" disabled="disabled" value="New Edge: @(Model.NewCost(AttributeType.Edge)) XP" class="btn btn-block btn-default" />
                }

                @if (Model.FixedWearAndHarm)
                {
                    @Html.Partial("_FixedWearAndHarm", Model)
                }
                else
                {
                    @Html.Partial("_DynamicWearAndHarm", Model)
                }

            </div>
        }
        else
        {
            if ((Model.Stats.Any() && Model.CharacterInfo.CanEdit) || Model.Stats.Any(s => !s.PersonAttribute.IsPrivate))
            {
                <div class="alert alert-info">
                    <h4>Stats</h4>
                    <table class="table attribute-table">
                        @Html.DisplayFor(m => m.Stats)
                    </table>
                </div>
            }
            if ((Model.Magic.Any() && Model.CharacterInfo.CanEdit) || Model.Magic.Any(s => !s.PersonAttribute.IsPrivate))
            {
                <div class="alert alert-info">
                    <h4>Magic</h4>
                    <table class="table attribute-table">
                        @Html.DisplayFor(m => m.Magic)
                    </table>
                </div>
            }
            if ((Model.MagicItems.Any() && Model.CharacterInfo.CanEdit) || Model.MagicItems.Any(s => !s.PersonAttribute.IsPrivate))
            {
                <div class="alert alert-info">
                    <h4>Magic Items</h4>
                    <table class="table attribute-table">
                        @Html.DisplayFor(m => m.MagicItems)
                    </table>
                </div>
            }
            if ((Model.Disciplines.Any() && Model.CharacterInfo.CanEdit) || Model.Disciplines.Any(s => !s.PersonAttribute.IsPrivate))
            {
                <div class="alert alert-danger">
                    <h4>Disciplines</h4>
                    <table class="table attribute-table">
                        @Html.DisplayFor(m => m.Disciplines)
                    </table>
                </div>
            }
            if ((Model.Roles.Any() || Model.Skills.Any()) && Model.CharacterInfo.CanEdit || (Model.Roles.Any(s => !s.PersonAttribute.IsPrivate) || Model.Skills.Any(s => !s.PersonAttribute.IsPrivate)))
            {
                <div class="alert alert-success">
                    @if (Model.Roles.Any() && Model.CharacterInfo.CanEdit || Model.Roles.Any(s => !s.PersonAttribute.IsPrivate))
                    {
                        <h4>Roles</h4>
                        <table class="table attribute-table">
                            @Html.DisplayFor(m => m.Roles)
                        </table>
                    }
                    @if (Model.Skills.Any() && Model.CharacterInfo.CanEdit || Model.Skills.Any(s => !s.PersonAttribute.IsPrivate))
                    {
                        <h4>Skills</h4>
                        <table class="table attribute-table">
                            @Html.DisplayFor(m => m.Skills)
                        </table>
                    }
                </div>
            }

            if (Model.Descriptors.Any() && Model.CharacterInfo.CanEdit || Model.Descriptors.Any(s => !s.PersonAttribute.IsPrivate))
            {
                <div class="alert alert-warning">
                    <h4>Descriptors</h4>
                    <table class="table attribute-table">
                        @Html.DisplayFor(m => m.Descriptors)
                    </table>
                </div>
            }

            if (Model.ShowResolveAndResilience)
            {
                <div class="alert alert-info">
                    <h4>Resolve</h4>
                    <p>This is the maximum reserve buffer of mental and physical endurance that the character has. You can think of this as a bit like Max Hit Points. As the hit points are reduced the character is not actually meaningfully hurt (maybe a few bumps and scratches).</p>
                    <table class="table attribute-table">
                        @Html.EditorFor(m => m.Resolve)
                    </table>

                </div>
                <div class="alert alert-info">
                    <h4>Resilience</h4>
                    <p>This is the threshold for the amount of Resolve the character may spend on a single hit. If the damage is over your Resilience then Harm results, even if the character has remaining Resolve in the pool.</p>
                    <table class="table attribute-table">
                        @Html.EditorFor(m => m.Resilience)
                    </table>
                </div>
            }

            if ((Model.Wear.Any() || Model.Harm.Any() || Model.Edge.Any()) && Model.CharacterInfo.CanEdit)
            {
                <div class="alert alert-danger">
                    @if (Model.Edge.Any())
                    {
                        <h4>Edge</h4>
                        <table class="table attribute-table">
                            @Html.DisplayFor(m => m.Edge)
                        </table>
                    }
                    @if (Model.Wear.Any() && Model.ShowWear)
                    {
                        <h4>Wear</h4>
                        <table class="table attribute-table">
                            @Html.DisplayFor(m => m.Wear)
                        </table>
                    }
                    @if (Model.Harm.Any())
                    {
                        <h4>Harm</h4>
                        <table class="table attribute-table">
                            @Html.DisplayFor(m => m.Harm)
                        </table>
                    }
                </div>
            }
        }
    </div>
}
