@*@model Warhammer.Core.Entities.Award
<tr>
    <td>
        <a href="@Url.Action("Trophy","Home",new { id = Model.TrophyId })"><img src="@Url.Action("TrophyImage", "Home", new { id = Model.TrophyId }, null)" title="@Model.Trophy.Name @Model.Reason" alt="Picture of @Model.Trophy.Name" class="mini-trophy-image" /></a>
    </td>
    <td class="name">
        @Model.Trophy.Name @Model.Reason
        <br />
        <span class="note">Awarded @Model.AwardedOn.ToLongDateString()</span>
    </td>
</tr>*@
