@using Warhammer.Core
@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.TrophyNominationViewModel

@if (ViewBag.EditMode || Model.ExistingNominations.Any())
{
    <div id="award-nomination-panel" class="content-block">

        @if ((Model.CanSetAnNemesis || Model.CanSetAsFavourite) && ViewBag.EditMode)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Play Favourites</div>
                <div class="panel-body">

                    @if (Model.CanSetAnNemesis)
                    {
                        using (Ajax.BeginForm("SetAsNemesis", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "award-nomination-panel" }))
                        {
                            <input type="hidden" value="@Model.PersonId" name="personId" />
                            <input type="submit" value="Set As Nemesis" class="btn btn-block btn-info" />
                        }
                    }

                    @if (Model.CanSetAsFavourite)
                    {
                        using (Ajax.BeginForm("SetAsFavourite", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "award-nomination-panel" }))
                        {
                            <input type="hidden" value="@Model.PersonId" name="personId" />
                            <input type="submit" value="Set As Favourite" class="btn btn-block btn-info" />
                        }
                    }
                </div>
            </div>
        }
        @if (ViewBag.EditMode)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Nominate for an Award</div>
                <div class="panel-body">

                    @if (Model.JustNominated)
                    {
                        <div class="alert alert-success">
                            <h4>Award Nomination Sent</h4>
                            <p>Your award nomination has been sent to the GM for review!</p>
                        </div>
                    }

                    @using (Ajax.BeginForm("NominateForAward", "Person", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "award-nomination-panel", OnComplete = "applyToggles()" }))
                    {
                        <input type="hidden" value="@Model.PersonId" name="personId" />
                        @Html.DropDownListFor(m => m.SelectedTrophy, Model.Trophies, "--Choose a Trophy--", new { @class = "form-control" })
                        @Html.DropDownListFor(m => Model.SelectedSession, new SelectList(Model.Sessions, "Id", "ShortName"), "-- Select a Session --", new { @class = "form-control" })
                        <input type="text" value="" placeholder="Reason for Nomination" name="reason" class="form-control" />
                        <input type="submit" value="Nominate for Award" class="btn btn-block btn-success" />
                        <hr />
                        <p class="note">If you want, you can set a nomination to be private. This means that nobody (except you and the GM) will be able to see it.</p>
                        <p class="note">This nomination is:</p>
                        @Html.CheckBoxFor(m => Model.IsPrivate, new { data_toggle = "toggle", data_on = "Private", data_off = "Public", data_offstyle = "success", data_onstyle = "info" })
                    }
                </div>
            </div>
        }
        @if (Model.ExistingNominations.Any())
        {

            <div class="panel panel-info">
                <div class="panel-heading">Outstanding Nominations</div>
                <div class="panel-body">
                    <ul>
                        @foreach (AwardNomination nomination in Model.ExistingNominations.Where(n => n.Trophy != null && n.Player != null))
                        {
                            <li>      
                                @if (nomination.IsPrivate)
                                {
                                    <img src="@Url.Content("~/Content/Images/lock.png")" alt="Private Nomination" title="Private Nomination" />
                                }
                                @nomination.Trophy.Name by @nomination.Player.DisplayName
                                @if (nomination.IsPrivate)
                                {
                                    <span class="note">(Private)</span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}
