@model Warhammer.Mvc.Models.SimpleHitPointsViewModel


@if ((Model.HarmTrack.Any(h => h.Enabled) || Model.WearTrack.Any(h => h.Enabled)))
{
    <div class="alert alert-success" id="HitPoints">
        <div class="hitpoint-track wear-track">
            <h4>Wear</h4>
            <table class="table table-striped">
                @if (ViewBag.EditMode)
                {
                    @Html.EditorFor(m => Model.WearTrack)
                }
                else
                {
                    @Html.DisplayFor(m => Model.WearTrack)
                }

            </table>
        </div>
        <div class="hitpoint-track harm-track">
            <h4>Harm</h4>
            <table class="table table-striped">
                @if (ViewBag.EditMode)
                {
                    @Html.EditorFor(m => Model.HarmTrack)
                }
                else
                {
                    @Html.DisplayFor(m => Model.HarmTrack)
                }
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
}
else
{
    if (ViewBag.EditMode && Model.CanEdit)
    {
        <div class="alert alert-success" id="HitPoints">
            <h3>Hit Points Not Set Up</h3>
            @using (Ajax.BeginForm("SetupHitPoints", "Person", new AjaxOptions {InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post", UpdateTargetId = "charStatsPanel" }))
            {
                <input type="hidden" name="id" value="@Model.PersonId"/>
                <input type="submit" class="btn btn-block btn-info"  value="Set Default Hit Points"/>
            }
        </div>
     }
}
