@model Warhammer.Mvc.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="content-wrapper">

<div class="banner-content">
    <div class="header-block">
        <h1 id="fullName">Forgot your password?</h1>
    </div>
</div>

<div class="main-content">
<div class="content-block session-block">
		


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}
    
        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
            <h3>It's okay... we got that covered</h3>
            <p>Submit the form and you'll get an email with a link so you can set a new password. Neato!</p>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
