<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
    <script src="//code.highcharts.com/highcharts.js"></script>
    <link href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Html.Action("OverrideCss", "Home")

    @if (ViewBag.EditMode)
    {

        <script type="text/javascript">

            var formmodified = 0;

            tinymce.init({
                selector: "h1.editable",
                inline: true,
                toolbar: "undo redo",
                menubar: false,
                setup: function(editor) {
                    editor.on('change', function(e) {
                        $("#saveControls").show(500);
                    });
                }
            });

            tinymce.init({
                selector: "h2.editable",
                inline: true,
                toolbar: "undo redo",
                menubar: false,
                setup: function(editor) {
                    editor.on('change', function(e) {
                        $("#saveControls").show(500);
                    });

                }
            });

            tinymce.init({
                selector: "div.editable",
                relative_urls: false,
                inline: true,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                @*external_plugins: {
            "moxiemanager": "@Url.Content("~/scripts/moxiemanager/plugin.min.js")"
        },*@
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                image_advtab: true,
                paste_data_images: true,
                setup: function(editor) {
                    editor.on('change', function(e) {
                        formmodified = 1;
                        $("#saveControls").show(500);
                    });
                }
            });

            $(document).ready(function() {
                window.onbeforeunload = confirmExit;

                function confirmExit() {
                    if (formmodified == 1) {
                        return "New information not saved. Do you wish to leave the page?";
                    }
                }

                $("input[name='saveAction']").click(function() {
                    formmodified = 0;
                });

                $("#page-save").click(function() {
                    formmodified = 0;
                    $('#hiddenPageSubmit').click();
                    //document.forms['mainpageform'].submit();
                });
            });


            function myCustomOnChangeHandler(inst) {
                $("#saveControls").show(500);
            }
        </script>

        <script>
            var applyToggles = function() {
                $("[data-toggle='toggle']").bootstrapToggle('destroy');
                $("[data-toggle='toggle']").bootstrapToggle();
            }

        </script>
        <script>
          $( function() {
            $( ".game-datepicker" ).datepicker({
              showOtherMonths: true,
              selectOtherMonths: true,
              changeMonth: true,
              changeYear: true,
              minDate: new Date(2430, 1 - 1, 26),
              maxDate: new Date(2600, 1 - 1, 26),
              dateFormat: "yy-mm-dd"
            });
          } );
        </script>

    }
       
    @RenderSection("head", required: false)
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("Menu", "Home")
    }
    <div class="container body-content">
        @RenderBody()
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Action("Footer", "Home")
        }
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
