@model Warhammer.Core.Entities.AwardNomination

<li>
    <div>
        <div>
            

        </div>
        <div class="panel panel-success">
            @using (Html.BeginForm("AcceptAwardNomination", "Gm", FormMethod.Post))
            {
                <h3>Award Text:</h3>
                <input type="text" value="@Model.NominationReason" name="NominationReason" class="form-control"/>
                <h3>Comment</h3>
                <input type="text" value="@Model.AcceptedReason" name="AcceptedReason" class="form-control"/>
                <input type="hidden" name="Id" value="@Model.Id"/>
   
                <button class="btn btn-success btn-block" type="submit">Accept</button>
            }
        </div>
        <div class="panel panel-danger">
            @using (Html.BeginForm("RejectAwardNomination", "Gm", FormMethod.Post))
            {
                <h3>Reject Comment</h3>
                <input type="text" value="@Model.RejectedReason" name="RejectedReason" class="form-control" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <button class="btn btn-danger" type="submit">Reject</button>
            }
        </div>
    </div>
</li>