@model Warhammer.Core.Entities.AwardNomination


<div class="panel">
    <div class="panel-heading">
        <h3>@Model.Person.FullName nominated for @Model.Trophy.Name in session "@Model.Session.FullName"</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-success">
            @using (Html.BeginForm("AcceptAwardNomination", "Gm", FormMethod.Post))
            {
                <h4>Award Text:</h4>
                <input type="text" value="@Model.NominationReason" name="NominationReason" class="form-control"/>
                <h3>Comment</h3>
                <input type="text" value="@Model.AcceptedReason" name="AcceptedReason" class="form-control"/>
                <input type="hidden" name="Id" value="@Model.Id"/>
   
                <button class="btn btn-success btn-block" type="submit">Accept</button>
            }
        </div>
        <div class="alert alert-danger">
            @using (Html.BeginForm("RejectAwardNomination", "Gm", FormMethod.Post))
            {
                <h4>Reject Comment</h4>
                <input type="text" value="@Model.RejectedReason" name="RejectedReason" class="form-control" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <button class="btn btn-danger btn-block" type="submit">Reject</button>
            }
        </div>
    </div>
</div>

<hr/>