@model Warhammer.Mvc.Models.NpcSheetViewModel

<tr>
    <td>
        <img style="height: 80px; width: 80px; border-radius: 40px; box-shadow: #333333 5px 5px 15px; margin-right: 20px;" src="@Url.Action("Image", "Image", new {id = Model.Person.Id})" title="@Model.Person.FullName" alt="Picture of @Model.Person.FullName" height="200" width="200" />
    </td>

    @foreach (KeyValuePair<string, int> statPair in Model.Stats)
    {
        <td style="text-align: center;font-size: 1.5em; padding: 5px;">@statPair.Key.ToString().Substring(0, 2)<br /> <b>@statPair.Value</b></td>
    }
    
    @if (Model.Stats.Count < 6)
    {
        <td colspan="@(6 - Model.Stats.Count)"></td>
    }

    <td style="text-align: center; font-size: 1.2em;padding: 15px;">
        <b>
            @if (Model.Person.IsFavourite)
            {
                <span>*</span>
            }@Model.Person.ShortName
        </b>
    </td>
    
    <td>
        @foreach (KeyValuePair<string, int> statPair in Model.Roles)
        {
            @statPair.Key<b>&nbsp;:&nbsp;@statPair.Value</b>
            <br />
        }

    </td>
    <td>
        @foreach (KeyValuePair<string, int> statPair in Model.Skills)
        {
            @statPair.Key<b>&nbsp;:&nbsp;@statPair.Value</b>
            <br />
        }
    </td>

    <td>@(string.Join(", ", Model.Descriptors))</td>
    <td>@Html.Raw(string.Join("<br />", Model.Wear.Select(s => "[" + s +  "]")))</td>
    <td>@Html.Raw(string.Join("<br />", Model.Harm.Select(s => "[" + s + "]")))</td>
    <td>@Html.Raw(string.Join("<br />", Model.Edge.Select(s => "[" + s + "]")))</td>


</tr>
<tr>
    <td>-</td>
</tr>