@model Warhammer.Core.Entities.Comment
<li id="comment_@Model.Id" class="@(Model.IsPlayerComment ? "player-comment" : "character-comment")">
    @if (!Model.IsPlayerComment)
    {
        
        @Html.Action("PageImage", "Page", new {id = Model.PersonId})
        <h4>@Model.Person.FullName</h4>
    }
    else
    {
        <h4>@Model.Player.DisplayName</h4>
    }
    <div class="commentdetail">
        @Html.Raw(Model.Description)
        
        <p class="note">Posted on @Html.ActionLink(Model.Page.ShortName, "Index", "Page", new { id = Model.PageId }, null) on @Model.Created.ToLongDateString()</p>
    </div>

        

    @if (ViewBag.EditMode && User.IsInRole("Admin"))
    {
        using (Ajax.BeginForm("Delete", "Comment", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "comments" }))
        {
            <input id="commentId" name="commentId" hidden="" value="@Model.Id"/>
            <input id="pageId" name="pageId" hidden="" value="@Model.PageId" />
            <input id="postbutton" type="submit" value="Delete" class="btn btn-block btn-danger" />
            <hr />

        }
    }

    <div class="clearfix"></div>
    <hr/>
</li>
