@model Warhammer.Core.Entities.Comment
<li id="comment_@Model.Id" class="@(Model.IsPlayerComment ? "player-comment" : "character-comment")">
    @if (!Model.IsPlayerComment)
    {

        @Html.Action("PageImage", "Page", new { id = Model.PersonId })
        <h4>@Model.Person.FullName</h4>
    }
    else
    {
        <h4>@Model.Player.DisplayName</h4>
    }
    <div class="commentdetail">

        @if (ViewBag.EditMode && (User.IsInRole("Admin") || User.Identity.Name == Model.Player.UserName))
        {
            using (Ajax.BeginForm("EditComment", "Comment", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "comments" }))
            {
                <textarea name="comment" value="@Model.Id">@Html.Raw(Model.Description)</textarea>
                <input name="commentId" hidden="" value="@Model.Id" />
                if ((bool)ViewData["isPageView"])
                {
                    <input name="pageId" hidden="" value="@Model.PageId" />
                }
                <input id="postbutton" type="submit" value="Save Edits" class="btn btn-block btn-warning" />
                <hr/>
            }
            using (Ajax.BeginForm("Delete", "Comment", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "comments" }))
            {
                <input name="commentId" hidden="" value="@Model.Id"/>
                if ((bool)ViewData["isPageView"])
                {
                    <input name="pageId" hidden="" value="@Model.PageId"/>
                }
                <input id="postbutton" type="submit" value="Delete" class="btn btn-block btn-danger" />
                    <hr />

            }
        }
        else
        {
            @Html.Raw(Model.Description)
        }

        <p class="note">
            Posted on @Html.ActionLink(Model.Page.ShortName, "Index", "Page", new {id = Model.PageId}, null)
            <br/>
            @Model.Created.ToLongTimeString() @Model.Created.ToLongDateString()
        </p>

    </div>

    <div class="clearfix"></div>
    <hr />
</li>
