@using Warhammer.Mvc.Models
@model Warhammer.Core.Models.PageToggleModel

<tr>
    @if (Model.ShowImage)
    {
        <td>
            @Html.Action("PageImage", "Image", new {id = Model.PageId})
        </td>
    }
    <td class="name">
        @Model.FullName
        @if (Model.ShortName != Model.FullName)
        {<span class="note">(@Model.ShortName)</span>}
        @Html.HiddenFor(m => m.PageId)
        @Html.HiddenFor(m => m.InitialState)
    </td>
    <td>
        @Html.CheckBoxFor(m => Model.Selected, new {data_toggle = "toggle", data_on = "Yes", data_off = "No", data_offstyle = "default", data_onstyle = "success"})
    </td>
</tr>