@model Warhammer.Core.Models.AwardSummaryModel
<li><a href="@Url.Action("Trophy","Home",new { id = Model.TrophyId })"><img src="@Model.ImageUrl" title="@Model.TrophyName @Model.Reason" alt="Picture of @Model.TrophyName" class="mini-trophy-image" /></a></li>

