@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.SessionListItemViewModel
    
<li>
    <div class="session-container">
        <h1><a href="@Url.Action("Index", "Page", new { id = Model.Id })">@Model.ShortName</a></h1>
        <h2>@Model.FullName</h2>
        <div class="people-box">
            @if (Model.People.Any())
            {
                <ul>
                    <li>
                        @foreach (Person person in Model.People)
                        {
                            <a href="@Url.Action("Index", "Page", new { id = person.Id })">
                                <img src="@Url.Action("Image", "Page", new { id = person.Id })" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" />
                            </a>
                        }
                    </li>
                </ul>
                            <div class="clearfix"></div>
            }
        </div>
        <div class="log-box">
            @if (Model.People.Any())
            {
                <ul>

                    @foreach (Person person in Model.People)
                    {
                        if (person.SessionLogs.Any(l => l.SessionId == Model.Id))
                        {

                            List<SessionLog> logs = person.SessionLogs.Where(l => l.SessionId == Model.Id).ToList();
                            foreach (SessionLog log in logs)
                            {
                                if (log != null)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Page", new { id = person.Id })">
                                            <img src="@Url.Action("Image", "Page", new { id = person.Id })" title="@person.FullName" alt="Picture of @person.FullName" class="micro-profile-image" />
                                        </a>
                                        @Html.ActionLink(log.FullName, "Index", "Page", new { id = log.Id }, null)
                                    </li>
                                }
                            }
                        }
                        else
                        {
                            if (ViewBag.EditMode && person.PlayerId.HasValue && person.Player.UserName == User.Identity.Name)
                            {
                                <li>
                                    @Html.ActionLink("Create Log For " + person.FullName, "SessionLog", "Create", new { sessionId = Model.Id, personId = person.Id }, new { @class = "btn btn-success" })
                                </li>
                            }
                        }
                    }

                </ul>
                            <div class="clearfix"></div>
            }
        </div>
    </div>
</li>

