
@using Warhammer.Core.Extensions
@model Warhammer.Core.Entities.Award
<tr>
    <td><a id="personLink_@Model.Person.Id" href="@Url.Action("Index", "Page", new {id = Model.Person.Id})"><img src="@Url.Action("Image", "Image", new {id = Model.Person.Id}, null)" title="@Model.Person.FullName" alt="Picture of @Model.Person.FullName" class="mini-profile-image" /></a></td>
    <td>
        <a href="@Url.Action("Trophy", "Home", new {id = Model.TrophyId})"> <img src="@Model.Trophy.FileIdentifier.ToImageUrl()" title="@Model.Trophy.Name @Model.Reason" alt="Picture of @Model.Trophy.Name" class="mini-trophy-image"/></a>
    </td>
    <td class="name">
        @Model.Trophy.Name @Model.Reason
        <br/>
        <span class="note">Awarded @Model.AwardedOn.ToLongDateString()</span>
    </td>
</tr>
