@model Warhammer.Mvc.Models.MenuItemViewModel

@if (Model.IsDropDown)
{
    <li class="dropdown">
        <a href="@Model.Url" class="dropdown-toggle @Model.CssClass" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @if (!string.IsNullOrWhiteSpace(Model.IconUrl))
            {
                <img class="@Model.IconCssClass" src="@Model.IconUrl" alt="@(string.IsNullOrWhiteSpace(Model.AltText)? Model.Name : Model.AltText)" title="@(string.IsNullOrWhiteSpace(Model.AltText)? Model.Name : Model.AltText)"/>
            }
            @Model.Name<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            @Html.DisplayFor(m => m.SubMenu)
        </ul>
    </li>
}
else
{
    <li><a href="@Model.Url" class="@Model.CssClass">
        @if (!string.IsNullOrWhiteSpace(Model.IconUrl))
             {
                 <img class="@Model.IconCssClass" src="@Model.IconUrl" alt="@(string.IsNullOrWhiteSpace(Model.AltText)? Model.Name : Model.AltText)" title="@(string.IsNullOrWhiteSpace(Model.AltText)? Model.Name : Model.AltText)"/>
             }
        @Model.Name
    </a></li>
}