@model Warhammer.Mvc.Models.PersonStatViewModel

@using (Ajax.BeginForm("SetStats", "Person", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "charStatsPanel" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.PersonId)
    @Html.HiddenFor(m => m.IsNpc)
    <input type="hidden" value="true" name="Posted" id="Posted"/>
    <div class="form-group">
        @Html.LabelFor(m => m.AddedRole, new { @class = "col-md-12 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AddedRole, new { @class = "form-control" })
        </div>
    </div>
     if (!Model.IsNpc)
     {
         <div class="form-group">
             @Html.LabelFor(m => m.AddedDescriptor1, new {@class = "col-md-12 control-label"})
             <div class="col-md-10">
                 @Html.TextBoxFor(m => m.AddedDescriptor1, new {@class = "form-control"})
             </div>
         </div>
         <div class="form-group">
             @Html.LabelFor(m => m.AddedDescriptor2, new {@class = "col-md-12 control-label"})
             <div class="col-md-10">
                 @Html.TextBoxFor(m => m.AddedDescriptor2, new {@class = "form-control"})
             </div>
         </div>
         <div class="form-group">
             @Html.LabelFor(m => m.AddedDescriptor3, new {@class = "col-md-12 control-label"})
             <div class="col-md-10">
                 @Html.TextBoxFor(m => m.AddedDescriptor3, new {@class = "form-control"})
             </div>
         </div>
     }
    <div class="form-group">
        @Html.LabelFor(m => m.Stats, new {@class = "col-md-12 control-label"})
        <div class="col-md-10">


            @{
                int i = 0;
                foreach (var item in Model.Stats)
                {
                    <div class="row">
                        <input type="hidden" name="Stats[@i].Key" value="@item.Key"/>
                        <label>@item.Key</label>
                        <input class="form-control" type="number" name="Stats[@i].Value" value="@item.Value"/>
                        @{
                            i++;
                        }
                    </div>
                }
            }
        </div>



    </div>
    <div class="form-group">
        <input type="submit" value="Set Stats" class="btn btn-block btn-success" />
    </div>

                            }
