@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.FateStatViewModel
<td title="">
    @Html.HiddenFor(m => Model.Stat.StatType)
    @Html.HiddenFor(m => Model.Stat.PersonId)
    @Html.HiddenFor(m => Model.Stat.Id)
    @Html.DropDownList("Stat.StatValue", Model.Options)
    <hr/>
    @Html.CheckBoxFor(m => m.Stat.IsVisible, new { data_toggle = "toggle", data_on = "Visible", data_off = "Hidden", data_offstyle = "info", data_onstyle = "warning" })
</td>
