@using Warhammer.Core.Entities
@model Warhammer.Core.Entities.FateAspect

@Html.HiddenFor(m => Model.AspectType)
@Html.HiddenFor(m => Model.PersonId)
@Html.HiddenFor(m => Model.Id)

<div class="panel panel-warning">
    <div class="panel-heading">@((AspectType)Model.AspectType)</div>
    <div class="panel-body">
        @Html.EditorFor(m => Model.AspectName, new { @class = "form-control"})
        <hr/>
        <p>Is Public:</p>
        @Html.EditorFor(m => m.IsVisible, new { @class = "form-control" })
    </div>
</div>