@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.FateStuntViewModel


    <div class="panel panel-info">
        <div class="panel-heading">
            @Html.TextBoxFor(m => Model.Stunt.Title, new { @class = "form-control", placeholder = "Title" })
        </div>
        <div class="panel-body">
            @Html.TextAreaFor(m => Model.Stunt.Description, new { @class = "form-control", placeholder = "Description..." })
        </div>

        @Html.HiddenFor(m => Model.Stunt.Id)
        @Html.HiddenFor(m => Model.Stunt.PersonId)
        <div class="panel-footer">
            @Html.CheckBoxFor(m => Model.Stunt.IsVisible, new { data_toggle = "toggle", data_on = "Visible", data_off = "Hidden", data_offstyle = "info", data_onstyle = "warning" })
            @Html.CheckBoxFor(m => Model.Delete, new { data_toggle = "toggle", data_on = "Delete", data_off = "Keep", data_offstyle = "default", data_onstyle = "danger" })
        </div>
    </div>
    <hr />



