@model Warhammer.Core.Entities.Asset

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        @Html.Raw(Model.FormattedContent)
    </div>
    @if (Model.Upkeep != 0)
    {
        <div class="panel-footer">

            <p>Daily Upkeep: <span class="@(Model.Upkeep < 0 ? "danger" : "")">@Model.UpkeepDisplay</span> (<span class="note">@(Model.Upkeep < 0 ? "-" : "+")@Model.Upkeep pennies</span>) </p>
        </div>
    }
</div>