@model Warhammer.Core.Models.AwardSummaryModel
<tr>
    <td>
        <a href="@Url.Action("Trophy", "Home", new {id = Model.TrophyId})"> <img src="@Url.Action("TrophyImage", "Home", new {id = Model.TrophyId}, null)" title="@Model.TrophyName @Model.Reason" alt="Picture of @Model.TrophyName" class="mini-trophy-image"/></a>
</td>
    <td class="name">
        @Model.TrophyName @Model.Reason
        <br />
        <span class="note">Awarded @Model.AwardedOn.ToLongDateString()</span>
    </td>
</tr>
