@model Warhammer.Mvc.Models.PersonDetailsViewModel

@if (Model.ShowAny)
{
    <div>
        @if (Model.ShowHeight)
        {
            <h4>Height: <span class="label label-info personDetail">@Model.Height</span></h4>
            <br />
        }

        @if (Model.ShowAge)
        {
            <h4>Age: <span class="label label-info personDetail" title="@Model.DateOfBirthString">@Model.Age</span></h4>
            <br />
        }

        @if (Model.ShowMoney)
        {
            <table class="table" id="personmoney">
                @if (Model.Crowns > 0)
                {
                    <tr>
                        <td><img src="@Url.Content("~/Content/Images/crown.jpg")"/> </td>
                        <td><h4>Crowns</h4> </td>
                        <td><h4><span class="label label-warning personDetail">@Model.Crowns</span></h4> </td>
                    </tr>
                }
                @if (Model.Shillings > 0)
                {
                    <tr>
                        <td><img src="@Url.Content("~/Content/Images/shilling.jpg")"/> </td>
                        <td><h4>Shillings</h4> </td>
                        <td><h4><span class="label label-warning personDetail">@Model.Shillings</span></h4> </td>
                    </tr>
                }
                @if (Model.Pennies > 0)
                {
                    <tr>
                        <td><img src="@Url.Content("~/Content/Images/penny.jpg")"/> </td>
                        <td><h4>Pence</h4> </td>
                        <td><h4><span class="label label-warning personDetail">@Model.Pennies</span></h4> </td>
                    </tr>
                }
                @if (Model.TotalPennies != Model.Pennies)
                {
                    <tr>
                        <td><img src="@Url.Content("~/Content/Images/pennies.png")" /> </td>
                        <td><h4>Total as Pence</h4> </td>
                        <td><h4><span class="label label-info personDetail">@Model.TotalPennies</span></h4> </td>
                    </tr>
                }
            </table>
        }
    </div>


}