
@model Warhammer.Core.Entities.PlayerSecret
    

@Html.HiddenFor(m => m.PlayerId)
@Html.HiddenFor(m => m.PageId)
@Html.HiddenFor(m => m.Id)

    <div id="details" class="alert alert-warning">
        @if (Model.Player != null)
        {
            <h2>@Model.Player.DisplayName</h2>
        }
        @Html.TextAreaFor(m => m.Details, new { @class = "form-control editor", placeholder = "Secret Info!" })
    </div>
