@model Warhammer.Core.Entities.Comment

<tr>
    <td class="no-break">
        @if (!Model.IsPlayerComment)
        {
            @Html.Action("PageImage", "Image", new {id = Model.PersonId})
        }
        else
        {
            <h4>@Model.Player.DisplayName</h4>
        }


    </td>
    <td></td>
    <td>  
        @Html.Raw(Model.FormattedContent)
    </td>

</tr>
<tr>
    <td colspan="3">
        <span class="note">
            Posted on @Html.ActionLink(Model.Page.ShortName, "Index", "Page", new { id = Model.PageId }, null) @Model.Created.ToLongTimeString() @Model.Created.ToLongDateString()
        </span>
    </td>
</tr>
