@using Warhammer.Mvc.Models
@model Warhammer.Core.Entities.Comment

<tr>
    <td class="no-break">
        @if (!Model.IsPlayerComment)
        {
            @Html.Partial("PageImage", new ImageViewModel {Id = Model.Person.Id, Name = Model.Person.ShortName, Url = Model.Person.ImageUrl })
        }
        else
        {
            <h4>@Model.Player.DisplayName</h4>
        }


    </td>
    <td></td>
    <td>  
        @Html.Raw(Model.FormattedContent)
    </td>

</tr>
<tr>
    <td colspan="3">
        <span class="note">
            Posted on @Html.ActionLink(Model.Page.ShortName, "Index", "Page", new { id = Model.PageId }, null) @Model.Created.ToLongTimeString() @Model.Created.ToLongDateString()
        </span>
    </td>
</tr>
