
@model Warhammer.Core.Entities.Page

@{
    bool isUpdate = Model.SignificantUpdate != Model.Created;
}

<tr>
    <td>
        @Html.Action("PageImage", "Page", new {id = Model.Id})
    </td>
    <td></td>
    <td>
        @if (isUpdate)
        {
            <span>@Model.FullName Updated</span>
        }
        else
        {
            <span>New Page: @Model.FullName</span>
        }   
    </td>

</tr>
<tr>
    <td colspan="3">
            <span class="note">@(isUpdate ? "Changed" : "Added") by @Model.ModifiedBy.DisplayName on @Model.SignificantUpdate.ToLongDateString() : @Model.SignificantUpdate.ToShortTimeString()</span>
    </td>
</tr>
