

@model Warhammer.Core.Entities.Rumour

<tr>
    <td>
        @if (Model.PlaceId.HasValue)
        {
            @Html.Action("PageImage", "Page", new {id = Model.PlaceId.Value})
        }
        else
        {
            <img src="@Url.Content("~/Content/Images/rumour.png")" title="@Model.Title" alt="Picture for @Model.Title" class="profile-image-mini" />
        }
    </td>
    <td></td>
    <td>
        <p>Rumour: <strong>@Model.Title</strong></p> 
        <br/>
        @Html.Raw(Model.FormattedContent)     
    </td>
</tr>
<tr>
    <td colspan="3">
        <span class="note">Added @Model.Created.ToShortDateString()</span>
    </td>
</tr>
