@model Warhammer.Core.Entities.Term


<div class="panel">
    <div class="page-header"><h4>Term @Model.TermNumber (@Model.AgeBracket)</h4></div>
    <div class="panel-body">
        <h4>Tallies</h4>
        <p>Role Points</p>
        @Html.EditorFor(m => m.RolePoints)

        <p>Skill Points</p>
        @Html.EditorFor(m => m.SkillPoints)

        <h4>Dice Roll</h4>
        <p>Selected Stat</p>
        @Html.DropDownListFor(m => m.RolledStatId, new SelectList(Model.StatOptions, "Id", "Name"), "- Select a Stat -", new { @class = "form-control" })

        <p>Question</p>
        @Html.TextAreaFor(m => m.Question, new { @class = "form-control" })
        <p>Answer</p>
        @Html.TextAreaFor(m => m.Answer, new { @class = "form-control" })
        <p>Outcome</p>
        @Html.TextAreaFor(m => m.Outcome, new { @class = "form-control" })
    </div>

</div>

