@using Warhammer.Core.Entities
@using Warhammer.Mvc.Models
@model List<ArcListItemViewModel>
@{
    ViewBag.Title = "Story Arcs";
}

<div class="content-wrapper">

    @Html.Hidden("personId", 1)
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">Story Arcs</h1>
        </div>

    </div>

    <div class="main-content">
        <ul class="session-list">
            @foreach (ArcListItemViewModel item in Model)
            {
                <li class="session-list-item arc-list-item">
                    <h2><a href="@Url.Action("Index", "Page", new {id = item.Arc.Id})">@item.Arc.ShortName</a></h2>
                    <h3>@item.Arc.FullName</h3>

                    @if (item.Duration != null)
                    {
                        <div class="game-duration">
                            Duration: @item.Duration
                        </div>
                    }

                    <div class="people-box">
                        @if (item.People.Any())
                        {
                            foreach (Person person in item.People)
                            {
                                <a class="person-item" href="@Url.Action("Index", "Page", new {id = person.Id})">
                                    <img src="@Url.Action("Image", "Page", new {id = person.Id})" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image"/>
                                </a>
                            }
                        }
                    </div>

                    <div class="session-description">
                        @Html.Raw(item.Arc.Description)
                    </div>
                </li>
            }
        </ul>
    </div>

    <div class="side-bar">
        <div class="content-block">
        </div>
    </div>

</div>
