@using Warhammer.Core.Entities
@model IEnumerable<Person>
@{
    ViewBag.Title = "Character League";
}

<div class="content-wrapper">

    @Html.Hidden("personId", 1)
    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">League</h1>
        </div>

    </div>

    <div class="banner-content">
        <div class="content-block session-block">
            <div id="characterLeagueList">
                <table id="characterTable" class="table table-responsive">
                    @foreach (Person person in Model)
                    {
                        Person aPerson = person;
                        <tr class="awardBar">
                            <td colspan="3">
                                <ul class="awardBar">
                                    @Html.DisplayFor(m => aPerson.Awards)
                                </ul>
                            </td>
                            <td>
                                <ul class ="awardBar">
                                    <li>
                                        <span class="score-box" title="@person.FullName">@person.PointsValue</span>
                                    </li>
                                    @if (Math.Floor(person.ActivityBonus) > 0)
                                    {
                                        <li>
                                            <span class="score-box-bonus" title="@person.FullName">+@string.Format("{0:#}", Math.Floor(person.ActivityBonus))</span>
                                        </li>
                                        <li>
                                            <span class="score-box-base" title="@person.FullName">@string.Format("{0:#}",  person.PointsValue - Math.Floor(person.ActivityBonus))</span>
                                        </li>
                                    }

                                </ul>
                            </td>

                        </tr>
                        <tr>
                            <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new { id = person.Id })"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                            <td>@person.FullName</td>
                            <td colspan="2">@Html.Raw(person.MiniSummary)</td>                          
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">

        </div>
    </div>

</div>