@using Warhammer.Core.Entities
@using Warhammer.Core.Models
@model IEnumerable<Warhammer.Core.Models.LeagueEntryViewModel>
@{
    ViewBag.Title = "Character League";
}

<div class="content-wrapper">

    @Html.Hidden("personId", 1)
    <div class="banner-content">
        <div class="header-block banner-hallOfFame">
            <h1 id="fullName">League</h1>
        </div>

    </div>

    <div class="banner-content">
        <div class="content-block session-block">
            <div id="characterLeagueList">
                <table id="characterTable" class="table">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Awards</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (LeagueEntryViewModel person in Model)
                    {
                        <tr>
                            <td>
                                <div class="score-box" title="@person.Name">@string.Format("{0:#}", person.Position).PadLeft(3, ' ')</div></td>
                            <td>@Html.Action("PageImage", "Page", new {id = person.PersonId})</td>
                            <td class="name">@person.Name</td>
                            <td>
                                <ul class="leagueAwards">
                                    @Html.DisplayFor(m => person.Awards)
                                </ul>
                            </td>
                            <td>
                                <div class="score-box" title="@person.Name">@string.Format("{0:#}", person.Score).PadLeft(3, ' ')</div></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
