@model Warhammer.Mvc.Models.MyFavNpcModel

<div id="favNpcBlock" class="content-block">
    <h3>My Favourite NPCs</h3>

    @if (ViewBag.EditMode)
    {
        using (Ajax.BeginForm("UpdateFavNpc", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "favNpcBlock" }))
        {
            

            @Html.DropDownListFor(m => Model.FirstId, Model.ChooseFirstNpcList)

            @Html.DropDownListFor(m => Model.SecondId, Model.ChooseSecondNpcList)

            @Html.DropDownListFor(m => Model.ThirdId, Model.ChooseThirdNpcList)

            <input type="submit" value="Set Favourites" class="btn btn-block btn-success"/>
        }
    }
    else
    {
        <table class="table table-striped">
            
            @if (Model.First == null)
            {
                <tr><td colspan="2">No favourite NPC selected - go into edit mode and choose one!</td></tr>
            }
            else
            {
                @Html.DisplayFor(m => Model.First)
            }
            @if (Model.Second == null)
            {
                <tr><td colspan="2">No second favourite NPC selected - go into edit mode and choose one!</td></tr>
            }
            else
            {
                @Html.DisplayFor(m => Model.Second)
            }
            @if (Model.Third == null)
            {
                <tr><td colspan="2">No third favourite NPC selected - go into edit mode and choose one!</td></tr>
            }
            else
            {
                @Html.DisplayFor(m => Model.Third)
            }

        </table>
    }
</div>
<hr />