@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.HomePageViewModel
@{
    ViewBag.Title = @Model.SiteName + "- Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var rpHub;
        var connected = false;
        $(function () {
            rpHub = $.connection.roleplayHub;

            rpHub.client.updateTextSessionsOnHomePage = function ()
            {
                updateTextSessions();
            };

            $.connection.hub.start().done(function ()
            {
                connected = true;
            });
        });

        function updateTextSessions()
        {
            // Text session status updates here

            $('#SessionAutoUpdate').submit();
        }
    </script>
}

<div id="homepage" class="content-wrapper">

    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">@Model.SiteName</h1>
        </div>

    </div>

    <div class="core-content">


        <div class="content-block">
            @Html.Action("Search", "Home")
        </div>
      
            <div class="content-block">


                @Html.Action("ActiveTextSessions")

                @if (!Model.NewPages.Any() && !Model.UpdatedPages.Any())
            {
                    <div class="alert alert-warning">
                        <p>No Exciting Page updates for you at the moment...</p>
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        @if (Model.NewPages.Any())
                        {
                            if (Model.NewPages.Count() > 5)
                            {
                                @Html.ActionLink("Mark All as Seen", "MarkAllRead")
                            }
                            <h3>New Pages</h3>
                            <p class="note">These are pages that you've never looked at - they're all new and shiney!</p>

                            <ul>
                                @foreach (var page in Model.NewPages)
                                {
                                    <li><a href="@Url.Action("Index", "Page", new {id = page.Id})">@page.FullName</a></li>
                                }
                            </ul>
                        }
                        @if (Model.UpdatedPages.Any())
                        {
                            <h3>Updated Pages</h3>
                            <p class="note">These are pages that have had significant updates since you last looked at them...</p>
                            <ul>
                                @foreach (var page in Model.UpdatedPages)
                                {
                                    <li><a href="@Url.Action("Index", "Page", new {id = page.Id})">@page.FullName <span class="tiny"> Changed by @page.ModifiedBy.DisplayName on @page.Modified</span></a></li>
                                }
                            </ul>
                        }
                    </div>
                }

            </div>
          
            <div class="content-block">

                @Html.Action("RecentActivity", "Activity")

            </div>




        </div>

    <div class="core-content">
        @if (User.IsInRole("Admin") && Model.NpcWithXp.Any())
            {
            <div class="content-block">
                <h3>NPC Needs Advance</h3>

                <table class="table table-striped">
                    <tbody class="list">
                        @foreach (Person person in Model.NpcWithXp)
                        {
                            <tr>
                                <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                <td class="name">@person.FullName</td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        
        }
        @if (Model.MyPeople.Any())
        {
            <div class="content-block">
                <h3>My Characters</h3>

                <table class="table table-striped">
                    <tbody class="list">
                        @foreach (Person person in Model.MyPeople)
                        {
                            <tr>
                                <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                <td class="name">@person.FullName</td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
           
        }
        @if (Model.OtherPeople.Any())
        {
            <div class="content-block">
                <h3>Player Characters</h3>

                <table class="table table-striped">
                    <tbody class="list">
                        @foreach (Person person in Model.OtherPeople)
                        {
                            <tr>
                                <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                <td class="name">@person.FullName</td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
            
        }
        @Html.Action("FavouriteNpcs")

        <div class="content-block">

            @if (Model.TopNpcs.Any())
            {
                <h3>Top NPCs</h3>

                <table class="table table-striped">
                    <tbody class="list">
                        @foreach (Person person in Model.TopNpcs)
                        {
                            <tr>
                                <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                <td class="name">@person.FullName</td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

    <div class="core-content">

        <div class="content-block">
            <h3>Recent Comments</h3>
            @Html.Action("Index", "Comment")
        </div>

    </div>
</div>