@using Warhammer.Core.Entities
@model Warhammer.Mvc.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div id="homepage" class="content-wrapper">

        <div class="banner-content">
            <div class="header-block">
                <h1 id="fullName">@Model.SiteName</h1>
            </div>

        </div>

        <div class="core-content">
            <div class="content-block">

                @if (!Model.NewPages.Any() && !Model.UpdatedPages.Any() && !Model.UpdatedTextSessions.Any() && !Model.MyTurnTextSessions.Any())
                {
                    <div class="alert alert-warning">
                        <p>No Exciting updates for you at the moment...</p>
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        @if (Model.NewPages.Any())
                        {
                            <h3>New Pages</h3>
                            <p class="note">These are pages that you've never looked at - they're all new and shiney!</p>
                            <ul>
                                @foreach (var page in Model.NewPages)
                                {
                                    <li><a href="@Url.Action("Index", "Page", new {id = page.Id})">@page.FullName</a></li>
                                }
                            </ul>
                        }
                        @if (Model.UpdatedPages.Any())
                        {
                            <h3>Updated Pages</h3>
                            <p class="note">These are pages that have had significant updates since you last looked at them...</p>
                            <ul>
                                @foreach (var page in Model.UpdatedPages)
                                {
                                    <li><a href="@Url.Action("Index", "Page", new {id = page.Id})">@page.FullName <span class="tiny"> Changed by @page.ModifiedBy.DisplayName on @page.Modified</span></a></li>
                                }
                            </ul>
                        }

                        @Html.Action("ActiveTextSessions")


                    </div>
                }
                <h3>Recently Active Pages</h3>
                <p class="note">These are pages that have recently been updated or created</p>
                <ul id="recentChangesList">
                    @foreach (var page in Model.RecentChanges)
                    {
                        <li class="@(Model.NewPages.Contains(page) ? "page-new" : "" )"><a href="@Url.Action("Index", "Page", new {id = page.Id})">@page.FullName <span class="tiny">@page.SignificantUpdate</span></a></li>
                    }
                </ul>

            </div>
            <hr/>
            <div class="content-block">
                <h3>Recent Comments</h3>
                @Html.Action("Index", "Comment")
            </div>
        </div>

        <div class="core-content">
            @if (Model.MyPeople.Any())
            {
                <div class="content-block">
                    <h3>My Characters</h3>

                    <table class="table table-striped">
                        <tbody class="list">
                            @foreach (Person person in Model.MyPeople)
                            {
                                <tr>
                                    <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                    <td class="name">@person.FullName</td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
                <hr />
            }
            @if (Model.OtherPeople.Any())
            {
                <div class="content-block">
                    <h3>Other Player Characters</h3>

                    <table class="table table-striped">
                        <tbody class="list">
                            @foreach (Person person in Model.OtherPeople)
                            {
                                <tr>
                                    <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                    <td class="name">@person.FullName</td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
                <hr />
            }
            @Html.Action("FavouriteNpcs")

            <div class="content-block">

                @if (Model.TopNpcs.Any())
                {
                    <h3>Top NPCs</h3>

                    <table class="table table-striped">
                        <tbody class="list">
                            @foreach (Person person in Model.TopNpcs)
                            {
                                <tr>
                                    <td><a id="personLink_@person.Id" href="@Url.Action("Index", "Page", new {id = person.Id})"><img src="@Url.Action("Image", "Page", new {id = person.Id}, null)" title="@person.FullName" alt="Picture of @person.FullName" class="mini-profile-image" /></a></td>
                                    <td class="name">@person.FullName</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>

        <div class="core-content">
            
        @Html.Action("Search", "Home")

            <hr/>
                <div class="content-block">
                    <h3>My Stuff</h3>
                    <p class="note">These are the pages you have created for easy editing of your latest stuffs!</p>
                    <ul>
                        @foreach (var page in Model.MyStuff)
                        {
                            <li class="@(Model.NewPages.Contains(page) ? "page-new" : "" )">
                                <a href="@Url.Action("Index", "Page", new { id = page.Id} )">
                                    @page.FullName @if (page.ShortName != page.FullName)
                                                   {<span class="note">(@page.ShortName)</span>}
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
</div>