@using Warhammer.Core.Entities
@using Warhammer.Core.Extensions
@using Warhammer.Core.Models
@model Warhammer.Mvc.Models.HomePageViewModel
@{
    ViewBag.Title = @Model.SiteName + "- Home Page";
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var rpHub;
        var connected = false;
        $(function () {
            rpHub = $.connection.roleplayHub;

            rpHub.client.updateTextSessionsOnHomePage = function () {
                updateTextSessions();
            };

            $.connection.hub.start().done(function () {
                connected = true;
            });
        });

        function updateTextSessions() {
            // Text session status updates here

            $('#SessionAutoUpdate').submit();
        }
    </script>
}

<div id="homepage" class="content-wrapper">

    <div class="banner-content">
        <div class="header-block">
            <h1 id="fullName">@Model.SiteName</h1>
        </div>

    </div>

    <div class="core-content">


        <div class="content-block">
            @Html.Action("Search", "Home")
        </div>

        <div class="content-block">

            @Html.Action("ActiveTextSessions")

            @Html.Action("CreatedPages")

            @Html.Action("UpdatedPages")
            
            @Html.Action("RecentActivity", "Activity")

        </div>
    </div>

    <div class="core-content">
        @if (Model.MyPeople.Any())
            {
            <div class="content-block">
                <h3>My Characters</h3>

                <table class="table">
                    <tbody class="list">
                        @Html.DisplayFor(m => m.MyPeople)
                    </tbody>
                </table>
            </div>
        }

        @if (Model.OtherPeople.Any())
            {
            <div class="content-block">
                <h3>Player Characters</h3>

                <table class="table">
                    <tbody class="list">                      
                        @Html.DisplayFor(m => m.OtherPeople)
                    </tbody>
                </table>

            </div>
        }

    </div>
    <div class="core-content">
        @Html.Action("SiteSelector")

        @if (Model.GameDate.HasValue)
        {
            @Html.Action("GameDate", "Page", new { id = 0 })
        }

        @if (Model.TopNpcs.Any())
        {
            <div class="content-block">
                <h3>Top NPCs</h3>

                <table class="table">
                    <tbody class="list">
                    @Html.DisplayFor(m => m.TopNpcs)
                    </tbody>
                </table>
          
            </div>
        }
    </div>

</div>